{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Pokemons</title>
</head>
<body>
    <div id="navbar">
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="{%static 'img/logo.svg.png' %}" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
              ¡Bienvenido a tu pokédex entrenador!
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Ver Pokémons</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/listadoAgregarProducto">Ver Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/ListarAgregarEntrenador">Ver Entrenadores</a>
              </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    <div class="container mt-5">
        <form method="post">
          {{form.as_p}}
          {% csrf_token %}
          <input type="submit" value="Agregar" class="btn btn-primary text-center">
        </form>
    </div>
    <div class="container mt-5">
        <div class="alert alert-success display-1 text-center">POKÉMONS REGISTRADOS</div>
        {% if pokemons %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Ataque Base</th>
              <th>Ataque Especial</th>
              <th>Daño Base</th>
              <th>Defensa Base</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for pkmn in pokemons %}
            <tr>
              <td scope="row">{{ pkmn.id }}</td>
              <td>{{ pkmn.nombre }}</td>
              <td>{{ pkmn.tipo }}</td>
              <td>{{ pkmn.ataque_base_1 }}</td>
              <td>{{ pkmn.ataque_especial_1 }}</td>
              <td>{{ pkmn.dano_base }}</td>
              <td>{{ pkmn.defensa_base }}</td>
              <td><a href="/actualizarPkmn/{{ pkmn.id }}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></td>
                <td><a href="/eliminarPkmn/{{ pkmn.id }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="alert alert-primary" role="alert">
          <strong>No hay Pokémons registrados :(</strong>
        </div>
        {% endif %}
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>    
    
    
</body>
</html>